@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    IList<Material> materiales = Model;
}

<div class="container" id="materialListContainer">
    
    <div class="input-group mb-5">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar Material" aria-label="Recipient's username" aria-describedby="basic-addon2" id="searchInput">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="searchButton">Buscar</button>
            </div>
        </div>

    </div>


    @if(materiales.Any()){
        <div class="row" id="materialList">
        
            @foreach (Material material in materiales) {
                <div class="col-md-3 material-row">
                    <div>
                        <img class="img-thumbnail" src="https://www.adobe.com/es/express/create/cover/media_10487a00f81e45735d68f68bc2739b65bb4997de1.png?width=400&format=png&optimize=medium"/>
                        <div>
                            <h5 class="titulo mt-1">@material.Titulo</h5>
                            <p><strong>Categoria: </strong><span class="categoria">@material.Categoria</span></p>
                            <p><strong>Páginas: </strong><span class="paginas">@material.Paginas</span></p>
                            <button type="button" class="btn btn-outline-secondary mt-1 show-material-info" data-itemid="@material.Id"><strong><i class="fa fa-plus-circle"></i> MÁS INFORMACIÓN</strong></button>
                            <p class="mt-2"><strong><small style="color:@String.Format("{0}", material.State ? "green" : "red")">@String.Format("{0}", material.State ? "Disponible" : "No disponible")</small></strong></p>
                            @*<select class="form-control autores">
                                @if (material.Autores != null)
                                    foreach (Autor autor in material.Autores) {
                                        <option>@autor.Name</option>
                                    }
                                }else{
                                    <option>Sin autores</option>
                                }
                            </select>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    }else{
        <div class="d-flex justify-content-center mt-5">
            <h3 class="title">No hay material disponible</h3>
        </div>
    }
</div>


<!--Row to clone-->
<div class="col-md-3 material-row" hidden style="display:none" id="materialToClone">
    <div>
        <img class="img-thumbnail" src="https://www.adobe.com/es/express/create/cover/media_10487a00f81e45735d68f68bc2739b65bb4997de1.png?width=400&format=png&optimize=medium"/>
        <div>
            <h5 class="titulo mt-1"></h5>
            <p><strong>Categoria: </strong><span class="categoria"></span></p>
            <p><strong>Páginas: </strong><span class="paginas"></span></p>
            <button type="button" class="btn btn-outline-secondary mt-1 show-material-info" data-itemid=""><strong><i class="fa fa-plus-circle"></i> MÁS INFORMACIÓN</strong></button>
        </div>
    </div>
</div>

